<h2>商品新規登録</h2>
<%= form_with model: @item, url: admin_items_path, method: :post do |f| %>
    <p>商品画像</p>
    <%= f.file_field :image, accept: "image/*" %>
    <P>商品名</P>
    <%= f,text_field :name %>
    <P>商品説明</P>
    <%= f.text_field :description %>
    <P>ジャンル</P>
    <%= f.collection_select :genre_id, @genres, :id, :name, {include_blank: "--選択してください--"} %>
    <P>税抜価格</P>
    <%= f.number_field :price %>
    

